.book-list ul{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    padding: 10px;
}

.expensive{
    color: red;
}

.cheap{
    color: green;
}

.book-list .actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.book-list .actions a{
    color: var(--clr2);
}